
/* sets the initial element  to border--box and set margin and padding to zero */
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}



/* background image */

#page_head{
    background-image:url('pictures/hotel2.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    height:100vh;


    
}
.overlay{
     background-color: rgba(0,0,0,0.4);
     background-size: cover;
     height: 100%;

}

/*---------------------- nav bar  container---------------------------------------*/

nav{
    /*border:1px solid blue;*/
    padding-right:150px;
    padding-top: 10px;}

/* nav bar section */
.nav{
    float:right;
}
.nav a{
    text-decoration: none;
    color:white;
    float:right;
    padding:20px 25px;
    font-size:20px;
}

.nav a:hover{
    color:orange;

}


/*------------------- text logo----------------------------------------------- */
/*-------------- for jamaica text----------------------------*/
.logo{
    text-decoration:none;
    color:white;
    position: relative;
    left:150px;
    font-size:40px;
    font-weight:bold;


    }

.logo span{
    display:block;
    font-size:19px;
    color:orange;

}

/*---------------------------------------------------------------------------------*/

/* text in the header*/

/* text in header main container */
.head{
    color:white;
    margin-top: 150px;
    text-align:left;
    margin-left: 200px;
    font-size:20px;


}

.head span{
    display: block;
    font-size:50px;
    width:500px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight:bold;
}

/* "welcome to jamaica" css*/
.head i{
    color:white;
    font-family:cursive;

}



/*-------------------------------------------------------------*/

/* second section */


/*main element*/
.second-section{
    height:135vh;
}


/* second section paragragh*/
.welcome-paragragh{
    font-size:20px;
    padding:20px;
    /*border:1px solid black;*/
    width:500px;
    height:600px;
    top:700px;
    right:20px;

    position:absolute;
    z-index: 1;
    
}

/* text formatting for section section paragragh*/
.welcome-paragragh i{
    font-size:30px;
    font-family:serif;
    color:red;

}

.large-text{
    display:block; 
    font-weight:500; 
    width:500px;
    font-size:50px;
    font-family:"Poppins", Arial, sans-serif;
    margin-top:5px;
}

.welcome-paragragh p{
    font-size:22px;

}


/* main image container */

.welcome-image-container{
    width:775px;
    height:699px;
   /* border:1px solid red;*/
    margin-top:50px;
    display:relative;
    max-width: 100%;
    max-height: 100%;
   
}



/* image container for each image*/

.welcome-image-container div{
    float:left;
    /*border:1px solid blue;*/
    height:348px;
    width:273px;
    position: relative;
    
}


/* image css */
.welcome-image-container img{
    width:100%;
    height:100%;
   
    


}
/*-----------------------third section----------------------------------------------*/


/*-----------------------slide show section-----------------------------------------------------*/

.slideshow-container{
    /*brder:1px solid red; */
    height:100vh;
}

/* img individual div css */
.myslides{
    display:none;

}

.fade{ 

  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
   }


/*-----------------form section-------------------------------------------*/
.form_container{
    /*brder:1px solid black;*/
    background:rgba(0,0,0,0.5);
    width:550px;
    height:490px;
    position:absolute;
    z-index:1;
    top:100px;
    left:400px;

}


/* label css */

label{
    color:#f1f1f1;
    padding-left:8px;
    
}

/* header text */
.form_header {
    top:50px;
    left:480px;
    color:#f1f1f1;
    text-align:center;
    font-family:cursive;
    padding:5px;
    margin-bottom:5px;


}


/* css style for the given elements*/

input[type=text],select,textarea{
    width:100%;
    padding:12px;
    border:1px solid #ccc;
    margin-top:6px;
    margin-bottom:16px;
    resize:vertical;
}

/* css for the submit button*/
input[type=submit]{
    background-color:#4CAF50;
    color:white;
    padding:12px 20px;
    border:none;
    border-radius:4px;
    cursor:pointer;
}

/* buttom css on hover*/
input[type=submit]:hover{
    background-color:#45a049;
}

/*- --------------------footer----------------------------------------*/


/* footer css*/
.foot{
    background-image:url('pictures/background.jpg');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    height:60vh;
    padding-left:150px;
    position:relative;

}

/* three division sectionn css*/
.foot div {
    float:left;
   /* border:1px solid red;*/
    margin-right: 210px;
    
}
/* footer passage */
.footer-passage{
    margin-top:15px;

}

/* text ccs edit*/


.footer-passage p{
    width:250px;
    font-size:20px;
    margin-top:30px;
    

}

/* list of links */
.links{
    width:123px;
    height:200px;
    margin-top:55px;
    position:relative;
    left:50px;
}

.links li{
    list-style: none;
    margin-top:10px;
    order:1px solid black;
    width:120px;
    text-align: center;

}

.links li a{
    text-decoration:none;
    font-size: 20px;
    color:orange;
    padding-right:5px;
    padding-left:5px; 
    order:1px solid black;
}

.links li a:hover{
    background-color:lightgrey;
    color:red;
}

/*social links*/

.social{
    position:relative;
    left:100px;
    margin-top:100px;
    
}

.social a {
    padding-left:10px;
}
/* social links*/