
/* sets the initial element  to border--box and set margin and padding to zero */
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}



/* background image */
#page_head{
    background-image:url('pictures/hotel2.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    height:100vh;

    
}



/* nav bar  container*/

nav{
    /*border:1px solid blue;*/
    padding-right:150px;
    padding-top: 10px;}

/* text logo */

/* for jamaica text*/
.logo{
    text-decoration:none;
    color:green;
    position: relative;
    left:150px;
    font-size:40px;
    font-weight:bold;


    }

.logo span{
    display:block;
    font-size:19px;
    color:orange;

}


/* nav bar section */
.nav{
    float:right;
}
.nav a{
    text-decoration: none;
    color:white;
    float:right;
    padding:20px 25px;
    font-size:20px;
}

.nav a:hover{
    color:red;

}


/* text in the header*/

/* text in header main container */
.head{
    color:white;
    margin-top: 150px;
    text-align:left;
    margin-left: 200px;
    font-size:20px;


}

.head span{
    display: block;
    font-size:50px;
    width:500px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight:bold;
}

/* "welcome to jamaica" css*/
.head i{
    color:red;
    font-family:cursive;

}



/* second section */


/*main element*/
.second-section{
    height:112vh;
}


/* second section paragragh*/
.welcome-paragragh{
    font-size:20px;
    padding:20px;
    /*border:1px solid black;*/
    width:500px;
    height:600px;
    top:700px;
    right:20px;

    position:absolute;
    z-index: 1;
    
}

/* text formatting for section section paragragh*/
.welcome-paragragh i{
    font-size:30px;
    font-family:serif;
    color:red;

}

.large-text{
    display:block; 
    font-weight:500; 
    width:500px;
    font-size:50px;
    font-family:"Poppins", Arial, sans-serif;
    margin-top:5px;
}

.welcome-paragragh p{
    font-size:22px;

}


/* main image container */

.welcome-image-container{
    width:775px;
    height:699px;
    /*border:1px solid red;*/
    margin-top:50px;
    display:relative;
    z-index:-1;
   
}



/* image container for each image*/

.welcome-image-container div{
    float:left;
    /*border:1px solid red;*/
    height:348px;
    width:273px;
    
}


/* image css */
.welcome-image-container img{
    width:273px; 
    height:348px;
    


}


/* footer css*/
.foot{
    background-image:url('pictures/background.jpg');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    border:1px solid blue;
    height:60vh;
    padding-left:150px;

}
/* three division sectionn css*/
.foot div {
    float:left;
    border:1px solid red;
    margin-right: 230px;
    margin-top:25px;
}


/* text ccs edit*/


.foot p{
    width:250px;
    font-size:20px;
    margin-top:30px;
    

}

/* list of links */
.links{
    width:80px;
    height:200px;
    margin-top:20px;
}

.links li{
    list-style: none;
    margin-top:10px;
    border:1px solid black;

}

.links li a{
    text-decoration:none;
    font-size: 20px;
}

/*social links*/

.social{
    
}